<%= form_with(model: team, url: url, local: true) do |form| %>
  <% if team.errors.any? %>
    <div class="mb-2">
      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li class="text-alert"><%= message %>.</li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :name, class: "input", placeholder: Team.human_attribute_name(:name), autofocus: true %>
  </div>

  <% if new %>
    <button id="team_create_button" class="button bg-accent">Create</button>
  <% else %>
    <button id="team_update_button" class="button bg-accent mb-2">Update</button><br />
    <%= link_to "Delete", destroy_team_path(team), method: :delete, id: "delete_team_button", class: "text-alert", data: { confirm: "チームの削除は元に戻すことができません。また、チームの全てのメンバーも削除されます。本当に削除しますか？" } %>
  <% end %>

<% end %>