<div class="container">
  <h2 class="pt-3 pb-1"><%= @team.name %></h2>
  <p style="overflow: scroll;" class="text-secondary"><%= request.url %></p>
  <p style="color: #AAA;"># チームメンバーにURLを共有して招待しましょう！</p>
</div>