@import 'color';
@import 'shadow';

.card {
  text-align: left;
  @extend .p-1;
  @extend .shadow;

  .card-header {
    display: flex;
    align-items: center;
  }
}

.card-primary {
  border-left: solid 1rem $primary-color;
}

.card-secondary {
  border-left: solid 1rem $secondary-color;
}
