@import 'variables';

$type-color: (
  'primary': $primary-color,
  'accent': $accent-color,
  'alert': $alert-color,
  'black': $black,
  'white': white,
  'grey': #f8f9f9
);

@each $type, $color in $type-color {
  .text-#{$type}    { color:            $color!important; }
  .bg-#{$type}      { background-color: $color!important; }
  .border-#{$type}  { border-color:     $color!important; }
}