$primary-color: #23C69E;
$secondary-color: #8A8AF8;
$error-color: #D44444;
$black: #444444;

$type-color: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'error': $error-color,
  'black': $black,
  'white': white,
);

@each $type, $color in $type-color {
  .bg-#{$type} { background-color: $color; }
  .text-#{$type} { color: $color; }
  .border-#{$type} { border-color: $color; }
}