$type-color: (
  'primary': #23C69E,
  'secondary': #8A8AF8,
  'error': #D44444,
  'black': #444444,
  'white': white,
);

@each $type, $color in $type-color {
  .bg-#{$type} { background-color: $color; }
  .text-#{$type} { color: $color; }
  .border-#{$type} { border-color: $color; }
}