@import "variables";

.hide-mobile { @media #{$mobile} { display: none; } }
.hide-tablet { @media #{$tablet} { display: none; } }
.hide-pc     { @media #{$pc}     { display: none; } }
.hide        {                     display: none;   }