@import 'color';
@import 'shadow';
@import 'size';

.header {
  @extend .bg-primary;
  height: 4rem;
  @extend .w-100;
  
  .header-logo {
    @extend .font-primary;
    @extend .text-white;
    font-size: 2rem;
    line-height: 4rem;
  }
}