// Reset CSS
@import "reset";

@import "components/*";

html {
  @extend .font-secondary;
  @extend .text-black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ol {
  @extend .ml-2;
}

.ol-questions {
  list-style: none;
  counter-reset: cnt;

  & li:before {
    counter-increment: cnt;
    content: "Q" counters(cnt, ".") ". ";
  }
}