<div class="hero-area">
  <div class="container">
    <h1 class="hero-title">4 Questions For Team.</h1>
    <%= image_tag "hero_image.png", class: "hero-image mb-2" %>
    <br />
    <%= link_to "Make a team", new_team_path, id: :new_team_link, class: "button" %>
  </div>
</div>

<div class="container mb-5">
  <h1 class="text-primary font-primary pt-3">About me</h1>
  <p style="white-space: pre-wrap;">
<span class="font-primary">4Q4T</span>は、チームメンバー１人１人のチームからの期待を可視化する<a href="https://agilewarrior.wordpress.com/2009/11/27/the-drucker-exercise/" target="_blank"><b class="secondary-text">Drucker exercise -ドラッカー風エクササイズ-</b></a> というワークショップをチームで気軽に取り組むためのサービスです。

「チームの期待に応えられていない…」「チームが期待に応えてくれない…」
そんな悩みを抱えているなら、<span class="font-primary">4Q4T</span>で期待の可視化をやってみませんか？      
  </p>
</div>

<div class="container">
  <h1 class="text-primary mb-1">How to use</h1>

  <div class="pt-2">
    <h2>1. Make a team</h2>
    <p style="white-space: pre-wrap;">
  まずはチームを作成しましょう。チーム名を登録するだけで簡単にチームスペースを作ることができます。
  チームスペースのURLを共有するだけで簡単にチームスペースにアクセスできるようになります。
    </p>
  </div>

  <div class="pt-2">
    <h2 class="secondary-text">2. Answer qusetions</h2>
    <p style="white-space: pre-wrap;">
  メンバーそれぞれで4つの質問に答えましょう。
    </p>
  </div>

  <div class="pt-2">
    <h2 class="secondary-text">3. Discuss about each answer</h2>
    <p style="white-space: pre-wrap;">
  メンバーそれぞれの質問の答えが出揃ったら、その答えについて話し合いましょう。

  まずは一人が自分の答えをメンバーに伝えます。
  そして、他のメンバーからフィードバックをもらいます。特に4つ目の質問はこのチームがあなたにかける期待です。互いに妥協せずに話し合いましょう！
    </p>
  </div>

  <div class="pt-2 pb-5">
    <h2 class="secondary-text">4. That's all</h2>
    <p style="white-space: pre-wrap;">
  これで完了です！メンバー全員の考え方や期待が可視化されて、チームとして活動しやすくなっているでしょう。
  しかし、考え方や期待は時が経つにつれて変わるもの。1ヶ月など定期的にこの営みを繰り返して見直しを図りましょう！
    </p>
  </div>
</div>