<div class="p-1" style="border-bottom: solid 1px #CDCECF;">
  <h3>Edit Member</h3>
</div>
  

<div class="container py-2">
  <%= render 'form', member: @member, url: update_member_path(@member), create: false %>
</div>